# This requirements file should only include dependencies for testing
pytest                                  # test framework
pytest-cov                              # coverage test
moto>=5.0.0,<6.0.0
